@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
}

.game-board {
    width: 100%;
    height: 82vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEE8, #E0F6FF);
}

/* Mario */

.mario {
    width: 60px;
    position: absolute;
    bottom: 0;
    margin-left: 10%;
    padding-bottom: 34px;
    z-index: 10;
}

.jump {
    animation: mario-jump-animation 1500ms ease-out;
}

@keyframes mario-jump-animation {
    0% {
        bottom: 0px;
    }
    45% {
        bottom: 180px;
    }
    55% {
        bottom: 180px;
    }
    100% {
        bottom: 0px;
    }
}

/* Scenario */

/* Pipes */

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    padding-bottom: 34px;
    z-index: 10;
}

.pipe-animation {
    animation: pipe-animation 3s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

/* Grass */

.grass {
    position: absolute;
    bottom: 0;
    width: 160px;
    right: -160px;
    padding-bottom: 34px;
}

.grass-animation {
    animation: grass-animation 3s infinite linear;
}

@keyframes grass-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

/* Floors */

.floor {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 34px;
}

.floor-1 {
    z-index: 0;
}

.floor-animation-1 {
    animation: floor-animation-1 3.1s infinite linear;
}

@keyframes floor-animation-1 {
    0% {
        right: 0px;
    }
    100% {
        right: 100%;
    }
}

.floor-2 {
    right: -1500px;
    z-index: 10;
}

.floor-animation-2 {
    animation: floor-animation-2 6.2s infinite linear;
}

@keyframes floor-animation-2 {
    0% {
        right: -1500px;
    }
    100% {
        right: 100%;
    }
}

.floor-3 {
    right: -1500px;
    z-index: 10;
}

.floor-animation-3 {
    animation: floor-animation-3 6.2s infinite linear;
}

@keyframes floor-animation-3 {
    0% {
        right: -1500px;
    }
    100% {
        right: 100%;
    }
}

/* Clouds */

.clouds-1 {
    position: absolute;
    width: 550px;
    top: 50px;
    left: -550px;
    animation: clouds-animation-1 40s infinite linear;
}

.clouds-2 {
    position: absolute;
